.statsGrid {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // gap: 1rem;
    // margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
    gap: 0.5rem;
    // box-sizing: border-box;
}

.statCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
    // justify-content: flex-end;
    width: 30%;
    // box-sizing: border-box;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    // height: 60px;
    // width: 100%;

    border-radius: 12px;
    flex-shrink: 0;
}

.statContent {
    // flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.statLabel {
    font-size: 0.875rem;
    color: var(--text-secondary);
    margin: 0 0 0.25rem 0;
    font-weight: 500;
    text-align: center;
}

.statValue {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
    text-align: center;
}

.statSuffix {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-secondary);
    display: none;
}

@media (min-width:550px) {

    .statsGrid {
        margin: 4rem 0;
    }

    .statCard {
        width: 20%;
        padding: 0rem;
    }
}