@import "../../variables/variables.scss";

.chartContainer {
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.chartTitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0 0 1.5rem 0;
    text-align: center;
}

.emptyState {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: var(--text-secondary);
    font-size: 1rem;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // text-align: left;
    // gap: 1rem;
    align-self: ce;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0;
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    color: $main-text;
}

.legendColor {
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.legendLabel {
    font-weight: 500;
}

.legendCount {
    color: var(--text-secondary);
    font-weight: 400;
}

.tooltipHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-primary);
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.tooltipValue {
    font-size: 0.875rem;
    color: var(--text-secondary);
    margin: 0;
}