@import "./variables/variables.scss";

html {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        animation: fadeInUp 1.5s ease-out;
    }

    &::-webkit-scrollbar-track {
        background: transparent; // Make track invisible
    }

}

body {
    padding: 0;
    margin: 0;
    font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

    // --- Custom Scrollbar Styles ---
    // For Firefox
    scrollbar-width: thin;
    scrollbar-color: $additional-accent-dark $background;

    // For Webkit browsers (Chrome, Safari, Edge)

}

// body {
//     padding-top: $global-top-padding;
// }

.extra_padding_for_wrapped_nav {
    padding-top: $global-top-padding;
}

a {
    text-decoration: none;
    color: inherit;
}