@import "./variables/variables.scss";

body {
    padding: 0;
    margin: 0;
    font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

// body {
//     padding-top: $global-top-padding;
// }

.extra_padding_for_wrapped_nav {
    padding-top: $global-top-padding;
}

a {
    text-decoration: none;
    color: inherit;
}